h1 {
  color: blue;
}
div {
  display:inline-block;
  position:relative;
  float:left;
  margin:0;
  padding:0px;
  border: 3px solid black;
}
.buttons {
  clear:both;
}
.container {
  height: 500px;
  width: 120px;
}
#river {
  width:450px;
}
.right {
  float:right;
}
.left {
  float:left;
}
.sprite {
  clear:both;
  width: 100px;
  height: 60px;
}



.a .b {
  /* looks for .b INSIDE of .a */
}

.a.b {
  /* looks for elements with both .a and .b*/
}

.a, .b {
  /* like || operator, it checks for either .a or .b and applies to both*/
}

/*.hidden {
  display:none;
}*/
/* not using the hidden class*/
