h1 {
  color: blue;
}
div {
  display:inline-block;
  position:relative;
  float:left;
  margin:0;
  padding:0px;
  border: 3px solid black;
}
.buttons {
  clear:both;
}
.container {
  height: 500px;
  width: 120px;
}
#river {
  width:450px;
}
.right {
  float:right;
}
.left {
  float:left;
}
.sprite {
  clear:both;
  width: 100px;
  height: 60px;
}

/*.hidden {
  display:none;
}*/
/* not using the hidden class*/
